<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <title>{{ page.title }} | Christian Haigh</title>
    <link rel="shortcut icon" href="/img/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/ico/favicon.ico" type="image/x-icon">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">		
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    <div class="container">
      <div class="header">
	<h3 class="pull-right"><a href="/about" title="About">About</a></h3>
	<h3 class="text-muted"><a href="/">Home</a></h3>
      </div> 


  {{ content }}
  
 <div class="footer">
 <a class="btn btn-block btn-social btn-twitter">
    <i class="fa fa-twitter"></i> Sign in with Twitter
  </a>
	<div class="row">
	  	<div class="col-sm-8">
	  		<p><small>&copy; Christian Haigh 2015</small></p>
	  	</div>
	  	<div class="col-sm-1">
	  		<p><a href="mailto:chaigh@college.harvard.edu"><small>Email</small></a></p>
	  	</div> 
	  	<div class="col-sm-1">
	  		<p><a href="http://twitter.com/christian_haigh"><small>Twitter</small></a></p>
	  	</div>	
		<div class="col-sm-2">
	  		<p><a href="https://www.linkedin.com/in/christianhaigh"><small>LinkedIn</small></a></p>
	  	</div>   
	</div>
  
  </body>
</div>
</html>
