<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" width="device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/img/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/ico/favicon.ico" type="image/x-icon">
		
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    <div class="container">
      <div class="header">
	<h3 class=" pull-right"><a href="/writing" title="Writing">Writing</a></h3>
	<h3 class="text-muted"><a href="/">Home</a></h3>
    </div> <!-- /header -->
  <body>

<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
   <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
   </ul>
  </footer>
  </body>

</html>
